html,body{
    margin: 0;
    padding: 30px;
    font-family: "Helvetica Neue";
}

$blue : #2c97e6;
$e3 : #e3e3e3;

a[class^="hv_"]{
    display: inline-block;
    color: #222222;
    font-size: 15px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    background-color: $e3;
    border-radius: 5px;
    text-decoration: none;
    transform: translateZ(0);
    transition: all 0.3s;
    vertical-align: middle;
    border: 2px solid #fff;
}


@mixin colorChange{
    color: #fff;
    background-color: $blue;
}
@mixin backgroundChange {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s;
    // border-radius: 5px;
}
.hv_fade:hover{
    @include colorChange;
}
.hv_backpulse:hover{
    @include colorChange;
    animation: hv_backpulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.hv_sweep_to_right{
    position: relative;
    transition-duration: .3s;
}
.hv_sweep_to_right::after{
    @include backgroundChange;
    background-color: $blue;
    transform: scaleX(0);
    transform-origin: 0;
    transition-timing-function: ease-out;
}
.hv_sweep_to_right:hover{
    color: #fff;
}
.hv_sweep_to_right:hover::after{
    transform: scaleX(1);
}
.hv_sweep_to_left{
    position: relative;
    transition-duration: .3s;
}
.hv_sweep_to_left::after{
    @include backgroundChange;
    background-color: $blue;
    transform: scaleX(0);
    transform-origin: 100%;
    transition-timing-function: ease-in-out;
}
.hv_sweep_to_left:hover{
    color: #fff;
}
.hv_sweep_to_left:hover::after{
    transform: scaleX(1);
}
.hv_shutter_out_horizontal{
    position: relative;
}
.hv_shutter_out_horizontal::after{
    @include backgroundChange;
    background-color: $blue;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-timing-function: ease-in-out;
}
.hv_shutter_out_horizontal:hover{
    color: #fff;
}
.hv_shutter_out_horizontal:hover::after{
    transform: scaleX(1);
}
.hv_shutter_in_horizontal{
    position: relative;
    background-color: $blue !important;
}
.hv_shutter_in_horizontal::after{
    @include backgroundChange;
    transform: scaleX(1);
    background-color: $e3;
    transform-origin: 50%;
}
.hv_shutter_in_horizontal:hover{
    color: #fff;
}
.hv_shutter_in_horizontal:hover::after{
    transform: scaleX(0);
}

.hv_sweep_to_bottom{
    position: relative;
}
.hv_sweep_to_bottom:hover{
    color: #fff;
}
.hv_sweep_to_bottom::after{
    @include backgroundChange;
    transform: scaleY(0);
    background-color: $blue;
    transform-origin: 0% 0%;
}
.hv_sweep_to_bottom:hover::after{
    transform: scaleY(1);
}
.hv_sweep_to_top{
    position: relative;
}
.hv_sweep_to_top:hover{
    color: #fff;
}
.hv_sweep_to_top::after{
    @include backgroundChange;
    transform: scaleY(0);
    background-color: $blue;
    transform-origin: 0% 100%;
}
.hv_sweep_to_top:hover::after{
    transform: scaleY(1);
}
.hv_shutter_in_vertical{
    position: relative;
    background-color: $blue !important;
}
.hv_shutter_in_vertical::after{
    @include backgroundChange;
    transform: scaleY(1);
    background-color: $e3;
}
.hv_shutter_in_vertical:hover{
    color: #fff;
}
.hv_shutter_in_vertical:hover::after{
    transform: scaleY(0);
}

.hv_shutter_out_vertical{
    position: relative;
}
.hv_shutter_out_vertical::after{
    @include backgroundChange;
    transform: scaleY(0);
    background-color: $blue;
}
.hv_shutter_out_vertical:hover{
    color: #fff;
}
.hv_shutter_out_vertical:hover::after{
    transform: scaleY(1);
}

.hv_rectangle_in{
    position: relative;
    background-color: $blue !important;
}
.hv_rectangle_in:hover{
    color: #fff;
}
.hv_rectangle_in::after{
    @include backgroundChange;
    background-color: $e3;
    transform: scale(1);
}
.hv_rectangle_in:hover::after{
    transform: scale(0);
}
.hv_rectangle_out{
    position: relative;
}
.hv_rectangle_out:hover{
    color: #fff;
}
.hv_rectangle_out::after{
    @include backgroundChange;
    background-color: $blue;
    transform: scale(0);
}
.hv_rectangle_out:hover::after{
    transform: scale(1);
}

.hv_radial_out{
    position: relative;
    overflow: hidden;
}
.hv_radial_out:hover{
    color: #fff;
}
.hv_radial_out::after{
    @include backgroundChange;
    border-radius: 100%;
    transform: scale(0);
    background-color: $blue;
}
.hv_radial_out:hover::after{
    transform: scale(2);
}
.hv_radial_in{
    position: relative;
    overflow: hidden;
    background-color: $blue !important;
}
.hv_radial_in:hover{
    color: #fff;
}
.hv_radial_in::after{
    @include backgroundChange;
    border-radius: 100%;
    transform: scale(2);
    background-color: $e3;
}
.hv_radial_in:hover::after{
    transform: scale(0);
}
.hv_border_fade:hover{
    border: 2px solid $blue;
}
.hv_hollow:hover{
    background-color: #fff;
    border-color: $e3;
}
.hv_trim{
    position: relative;
}
.hv_trim::after{
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 3px solid #fff;
    opacity: 0;
    transition: all .3s;
}
.hv_trim:hover::after{
    opacity: 1;
}
.hv_outline_out{
    position: relative;
}
.hv_outline_out::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid $e3;
    transition: all .3s;
}
.hv_outline_out:hover::after{
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
}
.hv_outline_in{
    position: relative;
}
.hv_outline_in::after{
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
    border: 2px solid $e3;
    opacity: 0;
    transition: all .3s;
}
.hv_outline_in:hover::after{
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    opacity: 1
}
.hv_underline_from_left{
    position: relative;
}
.hv_underline_from_left::after{
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: $blue;
    height: 3px;
    z-index: -1;
    transition: all .3s;
}
.hv_underline_from_left:hover::after{
    right: 0;
}
.hv_underline_from_right{
    position: relative;
}
.hv_underline_from_right::after{
    content: '';
    position: absolute;
    right: 0;
    left: 100%;
    bottom: 0;
    background-color: $blue;
    height: 3px;
    z-index: -1;
    transition: all .3s;
}
.hv_underline_from_right:hover::after{
    left: 0;
}
.hv_underline_from_center{
    position: relative;
}
.hv_underline_from_center::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: all .3s;
    background-color: $blue;
    height: 3px

}
.hv_underline_from_center:hover::after{
    left: 0;
    right: 0;
}
.hv_reveal{
    position: relative;
}
.hv_reveal::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 0px solid $blue;
    transition-property: border-width;
    transition-duration: .1s;
}
.hv_reveal:hover::after{
    border-width: 3px;
}
.hv_underline_reveal{
    position: relative;
    overflow: hidden;
}
.hv_underline_reveal::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $blue;
    height: 3px;
    transform: translateY(3px);
    transition: .3s;
}
.hv_underline_reveal:hover::after{
    transform: translateY(0);
}
.hv_overline_reveal{
    position: relative;
    overflow: hidden;
}
.hv_overline_reveal::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $blue;
    height: 3px;
    transform: translateY(-3px);
    transition: .3s;
}
.hv_overline_reveal:hover::after{
    transform: translateY(0);
}
.hv_leftline_reveal{
    position: relative;
    overflow: hidden;
}
.hv_leftline_reveal::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $blue;
    width: 3px;
    transform: translateX(-3px);
    transition: .3s;
}
.hv_leftline_reveal:hover::after{
    transform: translateX(0);
}
.hv_rightline_reveal{
    position: relative;
    overflow: hidden;
}
.hv_rightline_reveal::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $blue;
    width: 3px;
    transform: translateX(3px);
    transition: .3s;
}
.hv_rightline_reveal:hover::after{
    transform: translateX(0);
}
.hv_bubble_top::after{
    content: '';
    position: absolute;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $e3 transparent;
    left: calc(50% - 10px);
    top: 0;
    border-style: solid;
    transition: .3s;
}
.hv_bubble_top:hover::after{
    top: -10px;
}
.hv_bubble_bottom::after{
    content: '';
    position: absolute;
    bottom: 0;
    border-width: 10px 10px 0px 10px;
    border-style: solid;
    border-color: $e3 transparent transparent transparent;
    transition: .3s;
    left: calc(50% - 10px);
}
.hv_bubble_bottom:hover::after{
    bottom: -10px;
}
.hv_bubble_right::after{
    content: '';
    position: absolute;
    right: 0;
    border-width: 10px 0px 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent $e3;
    transition: .3s;
    top: calc(50% - 10px);
}
.hv_bubble_right:hover::after{
    right: -10px;
}
.hv_bubble_left::after{
    content: '';
    position: absolute;
    left: 0;
    border-width: 10px 10px 10px 0px;
    border-style: solid;
    border-color: transparent $e3 transparent transparent;
    transition: .3s;
    top: calc(50% - 10px);
}
.hv_bubble_left:hover::after{
    left: -10px;
}
.hv_bubble_float_buttom::after{
    content: '';
    position: absolute;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $e3 transparent;
    left: calc(50% - 10px);
    top: 0;
    border-style: solid;
    transition: .3s;
}
.hv_bubble_float_buttom:hover{
    transform: translateY(10px);
}
.hv_bubble_float_buttom:hover::after{
    transform: translateY(-10px);
}
.hv_bubble_float_top::after{
    content: '';
    position: absolute;
    border-width: 10px 10px 0px 10px;
    border-color: $e3 transparent transparent transparent;
    left: calc(50% - 10px);
    bottom: 0;
    border-style: solid;
    transition: .3s;
}
.hv_bubble_float_top:hover{
    transform: translateY(-10px);
}
.hv_bubble_float_top:hover::after{
    transform: translateY(10px);
}

.hv_bubble_float_left::after{
    content: '';
    position: absolute;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent  $e3;
    top: calc(50% - 10px);
    right: 0;
    border-style: solid;
    transition: .3s;
}
.hv_bubble_float_left:hover{
    transform: translateX(-10px);
}
.hv_bubble_float_left:hover::after{
    transform: translateX(10px);
}
.hv_bubble_float_right::after{
    content: '';
    position: absolute;
    border-width: 10px 10px 10px 0px;
    border-color: transparent $e3 transparent transparent;
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    transition: .3s;
}
.hv_bubble_float_right:hover{
    transform: translateX(10px);
}
.hv_bubble_float_right:hover::after{
    transform: translateX(-10px);
}


@keyframes hv_backpulse {
    50% {
        background-color: rgba($blue, 0.62);
    }
}
